<h1>Event Detail</h1>

<div>
  <p>{{event.creator.username}}</p>
  <img src="{{event.escapeRoom.image}}">
  <p>{{event.date}}</p>
  <p>{{event.showtime}}</p>
  <p>{{event.players.0.username}}</p>
</div>
<button>{{event.players.0.username}}</button>
<button>JOIN</button>
<button>JOIN</button>
<button>JOIN</button>
<button>JOIN</button>
<button>JOIN</button>