<div class="events-list">
  {{> navbar}}
  <div class="events">
    <h1>EVENT</h1>
    <hr>
    <img class="detail" src="{{event.escapeRoom.image}}">
    <a href="/escape/{{event.escapeRoom._id}}">{{event.escapeRoom.name}}</a>
    <p>{{event.date}}</p>
    <p>{{event.showtime}}</p>
    <p>{{event.players.0.username}}</p>
    <form class="center" action="/events/{{event._id}}" method="POST">
      <div class="field other">
      {{#each event.players}}
        <a href="/profile/{{_id}}"><img class="player" src="{{imageUrl}}" alt="{{username}} image"></a>
      {{/each}}
      {{#times rest}}
        <button id="default-img"><img class="player" src="https://res.cloudinary.com/drkujr1xv/image/upload/v1552346612/project_2_images/default.png" alt="default image"></button>
      {{/times}}
      </div>
    </form>
    <form class="center" action="/events/{{event._id}}/unjoin" method="POST">
      <button class="join">UNJOIN</button>
    </form>
    {{#if isOwnProfile}}
    <form class="center" action="/events/{{event._id}}/delete" method="POST">
      <button class="join">DELETE</button>
    </form>
    {{/if}}
  </div>
      {{#each event.comments}}
        <form class="center" action="/events/{{../event._id}}/delete-comment" method="POST">
          <div class="comments">
            <p>{{this.comment}}</p>
            <p>{{this.creator.username}}</p>
            <img id="def-prof" src="{{this.creator.imageUrl}}" alt="{{this.creator.imageUrl}} image">
            <input type="hidden" name="commentId" value="{{this._id}}">
          </div>
          {{#if isOwnComment}}
            <button >DELETE</button>
          {{/if}}
        </form>
      {{/each}}
  {{#if isAlreadyIn}}
  <form class="comment" action="/events/{{event._id}}/comment" method="POST">
    <textarea name="comment" placeholder="Write your text here..." tabindex="5" required></textarea>
    <button class="join">COMMENT</button>
  </form>
  {{/if}}
</div>
