<div id="event-detail" class="events-list">
  {{> navbar}}
  <div class="events">
    <h1>EVENT</h1>
    <hr>
    <img class="detail" src="{{event.escapeRoom.image}}">
    <div class="flex-row">
      <h2>{{event.escapeRoom.name}}</h2>
      <a class="ancor-button" href="/escape/{{event.escapeRoom._id}}">See</a>
    </div>
    <p><i class="far fa-calendar-alt"></i>{{event.date}}</p>
    <p><i class="far fa-clock"></i>{{event.showtime}}</p>
    <p><i class="fas fa-user-ninja"></i>{{event.players.0.username}}</p>
    <div class="flex-row">
      <h3>Players</h3>
      {{#if isAlreadyIn}}
        <form class="icon-bin" action="/events/{{event._id}}/unjoin" method="POST">
          <button id="default-img" class="ancor-button"><i class="fas fa-user-times"></i></button>
        </form>
      {{/if}}
    </div>
    <hr>
    <form class="center" action="/events/{{event._id}}" method="POST">
      <div class="container-players">
      {{#each event.players}}
        <a href="/profile/{{_id}}"><img class="player" src="{{imageUrl}}" alt="{{username}} image"></a>
      {{/each}}
      {{#if isAlreadyIn}}
        <img class="player" src="https://res.cloudinary.com/drkujr1xv/image/upload/v1552562937/project_2_images/user-default.png" alt="default image"></button>
      {{else}}
        <button id="default-img"><img class="player" src="https://res.cloudinary.com/drkujr1xv/image/upload/v1552565332/project_2_images/add_icon.png" alt="default image"></button>
      {{/if}}
      {{#times rest}}
        <img class="player" src="https://res.cloudinary.com/drkujr1xv/image/upload/v1552562937/project_2_images/user-default.png" alt="default image"></button>
      {{/times}}
      </div>
    </form>
    {{#if isOwnProfile}}
    <form class="center" action="/events/{{event._id}}/delete" method="POST">
      <button class="join">DELETE</button>
    </form>
    {{/if}}

    <div class="comments">
      {{#if isAlreadyIn}}
      <h3>Chat</h3><hr>
      {{#each event.comments}}
        <form class="center" action="/events/{{../event._id}}/delete-comment" method="POST">
          <div class="comments">
            <p>{{this.comment}}</p>
            <p>{{this.creator.username}}</p>
            <img id="def-prof" src="{{this.creator.imageUrl}}" alt="{{this.creator.imageUrl}} image">
            <input type="hidden" name="commentId" value="{{this._id}}">
          </div>
          {{#ifCond ../currentUser._id '==' this.creator._id}}
            <button>DELETE</button>
          {{/ifCond}}
        </form>
      {{/each}}
      <form class="comment" action="/events/{{event._id}}/comment" method="POST">
        <textarea name="comment" placeholder="Write your text here..." tabindex="5" required></textarea>
        <button class="join">COMMENT</button>
      </form>
      {{/if}}
    </div>
  </div>
</div>

