<div class="events-list">
  {{> navbar}} 
  <div class="events">
    <h1>Event Detail</h1>

      <img src="{{event.escapeRoom.image}}">
      <p>{{event.date}}</p>
      <p>{{event.showtime}}</p>
      <p>{{event.players.0.username}}</p>
    </div class="player">
    <form class="field" action="/events/{{event._id}}" method="post">
      {{#each event.players}}
      <img class="player" src="{{imageUrl}}" alt="{{username}} image">
      {{/each}}
      <button>JOIN</button>
    </form>
    </div>
  </div>
</div>
