<div class="events-list">
  {{> navbar}}
  <div class="events">
    <h1>EVENT</h1>
    <hr>
    <img class="detail" src="{{event.escapeRoom.image}}">
    <p>{{event.date}}</p>
    <p>{{event.showtime}}</p>
    <p>{{event.players.0.username}}</p>

    <form class="center" action="/events/{{event._id}}" method="post">
      <div class="field other">
      {{#each event.players}}
        <a href="/profile/{{_id}}"><img class="player" src="{{imageUrl}}" alt="{{username}} image"></a>
      {{/each}}
      {{#times rest}}
        <button id="default-img"><img class="player" src="https://res.cloudinary.com/drkujr1xv/image/upload/v1552346612/project_2_images/default.png" alt="default image"></button>
      {{/times}}
      </div>
    </form>
    <form class="center" action="/events/{{event._id}}/delete" method="post">
      <button class="join">UNJOIN</button>
    </form>
  </div>
</div>
