<div class="events-list">
  {{> navbar}}
  <div class="events">
    <h1>EVENTS</h1>
    <hr>
    <ul>
      {{#each event}}
        <li>
          <a href="/events/{{this._id}}"><img src="{{this.escapeRoom.image}}" alt="{{this.escapeRoom.name}} image"></a>
          <p class="name">{{this.escapeRoom.name}}</p>
          {{!-- <p>{{this.date}}</p> --}}
          <p>{{this.showtime}}</p>
          <p>{{this.creator.username}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
  <div id="footer" class="escapes-link">
    <a href="../escape/list">Escape Rooms</a>
  </div>
</div>