<div class="events-list">
  {{> navbar}}
  <div class="events escape-rooms">
    <h1>EVENTS</h1>
    <ul class="list">
      {{#each events}}
        <li class="escape-rooms">
          <div>
            <a href="/events/{{this._id}}"><img src="{{this.escapeRoom.image}}" alt="{{this.escapeRoom.name}} image"></a>
          </div>
          <div id="pes">
            <p class="name">{{this.escapeRoom.name}}</p>
            <p class="details">{{this.date}}</p>
            <p class="details">{{this.showtime}}</p>
            <p class="details">{{this.creator.username}}</p>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div id="footer" class="escapes-link">
    <a href="../escape/list">Escape Rooms</a>
  </div>
</div>
