<h1>events list</h1>
<ul>
  {{#each event}}
    <li>
      <p>{{this.escapeRoom}}</p>
      <p>{{this._id}}</p>
      <p>{{this.date}}</p>
      <p>{{this.showtime}}</p>
      <p>{{this.creator}}</p>
      <a href="/events/{{this._id}}">detail</a>
    </li>
  {{/each}}
</ul>