<h1>events list</h1>
<ul>
  {{#each event}}
    <li>
      <img src="{{this.escapeRoom.image}}" alt="{{this.escapeRoom.name}} image">
      <p>{{this.escapeRoom.name}}</p>
      <p>{{this.date}}</p>
      <p>{{this.showtime}}</p>
      <p>{{this.creator.username}}</p>
      <a href="/events/{{this._id}}">Join</a>
    </li>
  {{/each}}
  <a href="../escape/list">Escape Rooms</a>
</ul>