<h1>Escape room Detail</h1>

<img src="{{escapeRoom.image}}" alt="{{escapeRoom.name}} image">
<h3>{{escapeRoom.name}}</h3>
<div>
  <p>{{escapeRoom.description}}</p>
  <p>Dificulty : {{escapeRoom.dificulty}}</p>
  <p>Capacity : {{escapeRoom.capacity.maxPlayers}}</p>
  <p>duration : {{escapeRoom.duration}} min</p>
  <p>Direction : {{escapeRoom.direction}}</p>
  <p>Schedule : </p>
  <p>Days : {{escapeRoom.schedule.days}}</p>
  <p>Showtime : {{escapeRoom.schedule.showtime}}</p>
</div>
<a href="/event/{{escapeRoom.id}}/create">hola</a>