<h1>Escape Rooms List</h1>

<ul>
  {{#each escapeRoom}}
    <li>
      <img src="{{this.image}}" alt="{{this.name}}">
      <p>{{this.name}}</p>
      {{!-- <a href="/movies/{{this.id}}">See more</a> --}}
      <a href="/escape/{{this._id}}">Create Event</a>
    </li>
  {{/each}}
</ul>